*{
margin: 0;
}
button{
  background-image: linear-gradient(to right, #f1e20d 20%, #f8c007 51%, #f7ca06 100%);
/*.btn-grad:hover { background-position: right center; }*/
  /*  background-image: linear-gradient(to right, #B2FEFA 0%, #0ED2F7 51%, #B2FEFA 100%);*/
    box-shadow: 3px 3px 6px  rgb(117, 109, 104);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-items: left;
    width: 200px;
    height: 25px;
    background-color: rgb(241, 207, 15);
    border-radius: 10px;
    text-align: center; 
    border: 1px solid;
    border-color: saddlebrown ;
  
    justify-content: center;
    align-content: center;
}
.app{
  background-color: rgb(255, 255, 255);
}
.app_home_container{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 1em;
  
}
.app_home_container_ads{
  border: #f8c007 2px solid;
 
  width: 100%;
}
